<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{ klass.name }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Le styles from Twitter Bootstrap-->
    <link href="{{ STATIC_URL }}bootstrap.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}bootstrap-responsive.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}style.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}manni.css" rel="stylesheet">

    {% if push_state_url %}
        <link rel="canonical" href="{{ push_state_url }}">
        <script type="text/javascript">
            window.history.replaceState({}, '', '{{ push_state_url }}');
        </script>
    {% endif %}

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{{ STATIC_URL }}jquery-1.7.1.min.js"><\/script>');</script>
    <script src="{{ STATIC_URL }}bootstrap-collapse.js"></script>
    <script src="{{ STATIC_URL }}modernizr-2.5.3.min.js"></script>
    <script src="{{ STATIC_URL }}bootstrap-dropdowns.js"></script>
    <script>$('.dropdown-toggle').dropdown()</script>
</head>
<body>
    <div class="container">
        <article id="main">
            {% if klass.attributes %}
                <h2>Attributes</h2>
                <table>
                    <thead>
                        <tr>
                            <th>&nbsp;</th>
                            <th>Defined in</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for name, attributes in klass.attributes.items() %}
                        {% for attribute in attributes %}
                        <tr>
                            <td>
                                <code class="attribute{% if not loop.last %} overridden{% endif %}"{% if not loop.last %} style="text-decoration:line-through"{% endif %}>
                                    {{ name }} = {{ attribute.object|e }}
                                </code>
                            </td>
                            <td>{{ attribute.defining_class }}</td>
                        </tr>
                        {% endfor %}
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}

            {% if klass.methods %}
                <h2>Methods</h2>
                {% for name, declarations in klass.methods.items() %}
                    {% for declaration in declarations %}
                    <div class="method">
                        <h3>{{ name }}{{ declaration.arguments }} [{{ declaration.defining_class.__name__ }}]</h3>
                        <p>{{ declaration.docstring|e }}</p>
                        <p>Found on lines {{ declaration.lines.start }} to {{ declaration.lines.start+declaration.lines.total }} of {{ declaration.file }}</p>
                        <pre>{{ declaration.code }}</pre>
                    </div>
                    {% endfor %}
                {% endfor %}
            {% endif %}
        </article>
    </div> <!-- /container -->
</body>
</html>
